.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */
body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #eee;
}


body {
    font-family: 'proxima-nova', sans-serif;
}

body * {
    font-weight: 200;
}

#heatmapContainerWrapper {
    width: 846px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

#heatmapContainer {
    width: 846px;
    height: 450px;
    background-size: 200px,cover,200px;
    background-position: center center,center center,center center;
    background-repeat: no-repeat,no-repeat,repeat;
}

header {
color: white;
background-color: #006bb7;
text-align: center;
margin: 0 0 2em;
padding: .1em;
font-family: 'Proxima Nova';
font-weight: 800;
}

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    margin: 0em 0 0em;
    font-family: 'Proxima Nova';
    font-weight: bold;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    margin: 0 0 1em;
    padding: 0;
}

#team-logo {
    position: absolute;
    z-index: 10000000;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 846px;
    top: 135px;
}

h1 img {
    height: 1em;
    position: relative;
    top: .1em;
}

#team-logo img {
    width: 220px;
}

#slider-handles {
    width: 846px;
    margin: 0 auto;
    margin-top: 1em;
}

#game-clock {
    display: block;
    position: absolute;
    z-index: 10000000;
    top: -50px;
    background-color: #000;
    font-family: 'Digital-7';
    color: #ff374f;
    height: 28px;
    width: 80px;
    left: 746px;
    letter-spacing: 3px;
    text-align: center;
    font-size: 2em;
    text-align: right;
    padding: 10px;
}

.noUi-origin:nth-child(1) {
    background-color: #006bb7;
}

.noUi-origin:nth-child(2) {
    background-color: #fff;
}

#navigator {
    width: 100%;
}

.container {
    width: 846px;
    margin: 0 auto;
    margin-top: 5em;
}


/* Controls */

.controls {
    margin-bottom: 1em;
    display: block;
    float: left;
    margin-right: 1em;
}

.data-selectors {
    display: block;
    overflow: hidden;
}

.controls button {
    outline: none;
}

.controls button {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
    color: rgba(213,35,86,0.75);
    padding: .25em 1.5em .25em 1.5em;
}

.controls button:hover {
    color: rgba(213,35,86,1);
}




.data-selectors .select2-container {
    width: 47.5% !important;
    float: left;
    font-size: .75em;
}
.select2-container--default .select2-selection--single {
	border:1px solid #dcdcdc;
}

.select2-search__field {

}

.select2-results__option {
    font-size: 12px;
}

input.select2-search__field {
    font-size: 1.2em;
    padding: .5em;
}


input.select2-search__field:focus {
    outline:none;

}


.data-selectors .select2-container:nth-of-type(1) {
    margin-right: 2.5%;
    margin-left: 0;
}


.data-selectors .select2-container:nth-of-type(2) {
    margin-right: 0;
    margin-left: 2.5%;
}

#loading {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.3;
    position: absolute;
    z-index: 100;
    text-align: center;
}

#loading i {
    position: relative;
    top: 37.5%;
    transform: translateY(-60%);
    font-size: 3em;
    margin:0 auto;
}