<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Basketball Heatmap</title>
    
	<link rel="stylesheet" href="/static/css/nouislider.css">
	<link rel="stylesheet" href="/static/css/nouislider.pips.css">
	<link rel="stylesheet" href="/static/css/nouislider.tooltips.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="/static/css/font-awesome.css">

    <script src="/static/scripts/jquery-2.1.4.min.js"></script>
	<script src="/static/scripts/nouislider.min.js"></script>
    <script src="/static/scripts/select2.min.js"></script>
    <script src="/static/scripts/heatmap.min.js"></script>
    <script src="/static/scripts/scripts.js"></script>
    <script src="https://use.typekit.net/kmj7woe.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  </head>
  <body>
    <header>
        <br>
        <h1>Welcome to my NBA project</h1>
        <br>
    </header>
    <div class="container">
        <ul>
            <li><a href="/nba/teams" target="_blank">Team Data</a></li>
            <li><a href="/nba/games" target="_blank">All Games</a></li>
            <li><a href="/nba/games?movement=true" target="_blank">Games with Movement</a></li>
            <li><a href="/nba/teams?abbr=GSW" target="_blank">Golden State Warriors Data</a></li>
            <li><a href="/nba/games?game_id=0021500286" target="_blank">Lakers @ Atlanta Hawks Data</a></li>
            <li><a href="/nba/movement?game_id=0021500286&player_id=977" target="_blank">Kobe Bryant Movement Data</a></li>
        </ul>
    </div>

  </body>
</html>